.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.weatherapp-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 80%;
  min-width: 600px;
  padding: 2rem;
  gap: 1rem;
  margin: auto;
}

.weatherapp-header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.weatherapp-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.today-card {
  border: 1px solid red;
}

.day-forecast-content {
  display: flex;
  gap: 1rem;
}
